.item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;


  width: 100px;
  background-color: #998bfa;
  color: #fff !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* -webkit-transition: all .3s; */
  transition: all .3s;
  margin: 10px 0 0 0;
}

.item:hover {
  -webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  transform: translateY(-2px);
}

#button {
  background-color: #3169d1;
  border: 2px solid #3169d1;
  color: #fff !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}

/* #button:hover {
  background-color: transparent;
  border: 2px solid #998bfa;
  color: #998bfa !important;
  border-radius: 30px;
} */